.betania-patmos-in-regular {
  font-family: "Betania Patmos In", cursive;
  font-weight: 400;
  font-style: normal;
}

* {background-color: maroon;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
;}
body{
    color: blueviolet;

}

p{font-size: 64px;

font-family: "Betania Patmos In", cursive;
}
